.menu-container {
  overflow: auto;
  height: calc(100vh - 64px);
  display: block;
  background: #ffffff;
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.menu-container::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.menu-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}

.menu-container a.menu-item {
  color: #0000008a;
  text-decoration: none;
  font-size: 16px;
}
.menu-container a.menu-item:hover {
  color: #0000008a;
  background: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
}

.menu-container a.menu-item-active {
  color: #3f51b5;
  background: #dee1f0;
  text-decoration: none;
  font-size: 16px;
}
.menu-container a.menu-item-active:hover {
  color: #3f51b5;
  background: #c2c7e6;
  text-decoration: none;
  font-size: 16px;
}


.mat-list-base {
  padding: 0;
}
