<header class="nav-bar-shadow">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="header-burger" (click)="openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="header-logo" src="assets/icon/logo/vstu-logo-white.svg" alt="vstu-logo-gold" (click)="toHome()">
      <span class="header-title">Электронный помощник студента</span>
      <span class="header-title-short">ЭПC</span>
      <span class="header-nav-spacer"></span>
      <button *ngIf="!authService.isUserAuthorized()" mat-flat-button color="primary">Войти</button>
      <button *ngIf="authService.isUserAuthorized()" mat-flat-button color="primary" [matMenuTriggerFor]="menu">Пользователь</button>
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="toProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>Профиль</span>
        </button>
        <button mat-menu-item (click)="toSettings()">
          <mat-icon>settings</mat-icon>
          <span>Настройки</span>
        </button>
        <button mat-menu-item (click)="logoff()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выход</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
